<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Anish Shandilya</title>

  <!-- Bootstrap -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/custom.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="navbar-index navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/"><img class="logo_img" src="../imgs/logo_name_inverse.svg" alt=""></a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <div class= "nav navbar-social">
        <ul class="list-inline nav navbar-nav">
          <li><a href="/"><div>HOME</div></a></li>
          <li><a href="/about"><div class="active">ABOUT</div></a></li>
          <!-- <li><a href="./code"><div>CODE</div></a></li> -->
          <li><a href="/video"><div>VIDEO</div></a></li>
        </ul>
        <ul class="list-inline social-buttons">
          <li><a target="_blank" href="https://www.linkedin.com/in/anishshandilya"><i class="fa fa-linkedin"></i></a></li>
          <li><a target="_blank" href="https://github.com/anishshandilya"><i class="fa fa-github"></i></a></li>
          <li><a target="_blank" href="https://instagram.com/anishshandilya_/"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container content">
  <!-- <div class="row"> -->
    <div class="col-md-4">
        <img src="../imgs/about.jpg" class="about-fade img-responsive"> 
    </div>
    <div class="col-md-8">
      <h2 class="about-fade text-left">FILM | SOFTWARE | MUSIC</h2>
      <br/>
      <p class="about-fade text-left" style="animation-delay: 1.5s"> 
        Hello there and welcome to my site! I am a cinematographer, photographer, and visual artist based in the San Francisco Bay Area. 
        <br/><br/>
        With the rise in intersections of media, technology and art, I am super excited to see what kind of products I can make that push 
        the bounds of creativity. I picked up my first camera (a Canon T3i) when trying to make the best of an involuntary family trip, 
        and ever since I have been determined to document my adventures around the  world. Outside of traveling, I am focused on taking my 
        skills to a wider audience in commercial, short film, and other artistic applications. When not lugging around camera gear, you can 
        catch me on the Tahoe slopes, at a concert somewhere, or jamming out as a bedroom DJ.
          <br/><br/>
          Please do not hesitate to contact me if you are interested in collaborating and working together!
          <br/><br/>
          e. anish@anishshandilya.com
          <br/>
      </p>
    </div>
</div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>